---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>

    {% comment %}<!-- Only show related pages on a page when `related: true` -->{% endcomment %}
    <div class="wrapper">
      <h3>See also</h3>
      {% include related.html %}
    </div>

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous
      </a>
      {% else %}
      <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
      <span class="next ">Next</span>
      {% endif %}
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>
